/* NAVBAR */
* {
    margin: 0;
    padding: 0;
}

#BaneseBase {
    position: absolute;

    border-radius: 17px;

    left: 7rem;
    top: -2rem;

    width: 225px;
    height: 174px;
    background-color: #0A6F45;
}

ul {
    display: flex;
    border-bottom: 1px solid gray;
}

li, a {
    color: black;
    text-decoration: none;
    list-style: none;

    margin-top: 1%;
    margin-left: 4%;
    margin-bottom: 1%;

    font-family: 'Quicksand'; font-size: 18px; 
    font-weight: bolder; 
    -webkit-text-stroke-color: black;
}

#sobre {
    margin-left: 32rem;
}

#principal {
    white-space: nowrap;
}

#BaneseCima {
    position: relative;
    left: 3.8rem;
    top: 3.4rem;
}

/*Cadastro*/

p {
    color: #f6f8f0;
    font-family: 'Quicksand'; font-size: 18px; 

    margin-left: 2rem;
    margin-bottom: 1rem;
}

input {
    height: 2.8rem;
    width: 26.6rem;

    border-radius: 32px;
    border: solid #f6f8f0;

    background-color: #f6f8f0;

    margin-left: 2rem;
}

button {
    height: 2.8rem;
    width: 10rem;

    background-color: #f6f8f0;

    border-radius: 32px;
    border: solid #f6f8f0;

    font-family: 'Quicksand'; font-size: 18px;
    font-weight: bolder;
    letter-spacing: 2px;

    margin-left: 10rem;

    white-space: nowrap;

    transition: 0.2s;
}

button:hover {
    transform: scale(1.1);
    transition: 0.2s;

    cursor: pointer;
}

#Cadastro {
    margin-top: 12rem;
    margin-left: 4rem;
}

#TemConta {
    color: #1D4279;
    -webkit-text-stroke: 0.2px black;
    font-family: 'Quicksand'; font-size: 18px; 

    margin-left: 9.6rem;
    margin-bottom: 1rem;

    transition: 0.2s;
}

#TemConta:hover {
    color: #f6f8f0;
    transition: 0.2s;
    cursor: pointer;
}

#Glassmorph {
    width: 31rem;
    height: 36rem;
    
    border-radius: 2rem;

    background: rgb(18,191,119);
    background: linear-gradient(270deg, rgba(18,191,119,1) 0%, rgba(16,154,97,1) 50%, rgba(10,111,69,1) 100%);

    filter: drop-shadow(-1px, -1px, 24px, 0.25);
    backdrop-filter: blur(40px);
}

/*BLOB*/

#Blob {
    display: flex;
    position: absolute;

    top: 15rem;
    left: 46.5rem;
}

/*FOOTER*/

#footer {
    width: 211.1vh;
    height: 35vh;

    background-color: #0A6F45;
}

#BaneseBaixo{
    position: relative;

    top: 5rem;
    left: 5rem;
}

.footertxt{
    margin-left: 55rem;
}