/* NAVBAR */
* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../images/Rectangle\ 28.png);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color: #fff;
}

#sobre, #mulvi, #principal {
    color: black;
    text-decoration: none;
}

#BaneseBase {
    position: absolute;

    border-radius: 17px;

    left: 7rem;
    top: -2rem;

    width: 225px;
    height: 174px;
    background-color: #0A6F45;

    z-index: 1;
}

ul {
    display: flex;
    border-bottom: 1px solid gray;
}

li{
    color: black;
    text-decoration: none;
    list-style: none;

    margin-top: 1%;
    margin-left: 4%;
    margin-bottom: 1%;

    font-family: 'Quicksand'; 
    font-size: 18px; 
    font-weight: bolder; 
    -webkit-text-stroke-color: black;
}


#sobre {
    margin-left: 32rem;
}

#principal {
    white-space: nowrap;
}

#BaneseCima {
    position: relative;
    left: 1.5rem;
    top: 3.4rem;
}

/*info*/

p {
    color: #f8f6f0;
    font-family: 'Quicksand'; 
    font-size: 18px; 
    font-weight: bolder; 

    text-align: left;
    margin-left: 1rem;
}

#banesecard{
    margin-left: 20rem;
}

#mny {
    font-size: 2rem;
}

#card {
    width: 170vh;
    height: 20rem;

    margin-left: 9rem;
    margin-top: 12rem;

    border-radius: 2rem;

    background: rgb(18,191,119);
    background: linear-gradient(270deg, rgba(18,191,119,1) 0%, rgba(16,154,97,1) 50%, rgba(10,111,69,1) 100%);

    filter: drop-shadow(-1px, -1px, 24px, 0.25);
    backdrop-filter: blur(40px);
}

/*main*/

#grid {
    display: grid;
    width: 80rem;
    height: 40rem;

    margin: 7rem auto;

    border-radius: 2rem;

    background: rgb(18,191,119);
    background: linear-gradient(270deg, rgba(18,191,119,1) 0%, rgba(16,154,97,1) 50%, rgba(10,111,69,1) 100%);

    filter: drop-shadow(-1px, -1px, 24px, 0.25);
    backdrop-filter: blur(40px);
}


.whitecontainer{
    width: 230px;
    height: 280px;
    background-color: white;

    border-radius: 12px;

    margin-top: -7rem;
    margin-left: 4.2rem;
}

button {
    background-color: white;
    padding: 2px;

    border: solid 1px white;
    border-radius: 12px;

    position: relative;
    top: 10px;

    font-family: 'Quicksand'; 
    font-size: 18px; 
    font-weight: bolder; 
}

#row {
    margin-top: -3rem;
}

h3 {
    color: #fff;
    font-family: 'Quicksand'; 
    font-size: 20px; 
    margin: 5rem;
}

h6{
    padding-top: 1rem;
}


.plusbtn{
    width: 255px;
    padding: 20px;

    border: solid #fff;

    border-radius: 12px;

    text-wrap: nowrap;


    font-family: 'Quicksand'; 
    font-size: 18px; 
    font-weight: bolder;
    margin-left: -2rem;
}


/*FOOTER*/

#footer {
    margin-top: -7rem;
    width: 100%;
    height: 13rem;
    background-color: #0A6F45;
}

#BaneseBaixo{
    position: relative;

    top: 5rem;
    left: 5rem;
}

.footertxt{
    margin-left: 55rem;
}

.plusbtn a {
    color: black; 
    text-decoration: none;
}

.plusbtn {
    transition: 0.2s;
}

.plusbtn:hover{
    color:black; 
    text-decoration: none; 
    transition: 0.2s;
    transform: scale(1.1);
}

.plusbtn a:visited{
    color:black; 
    text-decoration: none;    
}