@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
}

header {
    box-shadow: 1px 1px 1px black;
    height: 9vh;
}

.nav-bar {
    display: flex;
    height: 9vh;
}

.logo {
    display: flex;
    margin: 0 10rem;
    height: 14vh;
}

.nav-list {
    display: flex;
}

.nav-list ul {
    display: flex;
    list-style: none;
}

.nav-item {
    margin: 2rem;
}

.nav-link {
    text-decoration: none;
    font-size: 0.5cm;
    color: black;
    font-weight: bold;
}

.page-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-logo {
    display: flex;
    height: 36vw;
    z-index: 100;
}

.card-login {
    background: rgb(18, 191, 119);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 40px;
    margin-left: 10rem;
    border-radius: 17px;
    box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.1);
    color: white;
}

.card-login>h1 {
    display: flex;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 1rem;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin: 10px 0px;
}

.textfield>input {
    border: none;
    border-radius: 30px;
    padding: 15px;
    font-size: 12pt;
    outline: none;
}

.textfield>label {
    margin-top: 10px;
}


.footer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    margin-top: 15px;
}

.btn-logar {
    width: 80%;
    padding: 16px 0px;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: white;
}


#footer {
    position: flex;
  
    margin-top: 1rem;
  
    top: 60rem;
  
    width: 118.95rem;
    height: 13rem;
  
    background-color: #0A6F45;
  }
  
  #BaneseBaixo{
    position: relative;
  
    top: 5rem;
    left: 5rem;
  }
  
  .footertxt{
    margin-left: 55rem;
    color: white;
  }
